<div class="pull-right">
    <a href="#/setup" title="Settings" class="icon-settings">&nbsp;</a>
</div>
<div class="issues-list">
    <ul class="list-unstyled">
        <li ng-repeat="(key, value) in list">
            <div class="title">{{key}}</div>
            <ul class="list-unstyled">
                <li ng-repeat="issue in value">
                    <span ng-if="issue.assignee" class="assignee">
                        <img src="{{issue.assignee.avatar_url}}&s=20" />
                    </span>
                    <a href="" ng-click="open(issue.html_url)">{{issue.title}}</a>
                    <span ng-repeat="label in issue.labels" class="labels" style="background-color:#{{label.color}}">{{label.name}}</span>
                </li>
            </ul>
        </li>
    </ul>
</div>